# Dependencies
/node_modules

# Prisma
/prisma/dev.db
/prisma/dev.db-journal

# Next.js
/.next/
/out/

# Local Environment
.env
.env.local

.gemini/
.vscode/

RESET_PASSWORD_DOCS.md
RESET_PASSWORD_QUICKSTART.md
ROUTE_PROTECTION_SUMMARY.md
SECURITY_IMPLEMENTATION.md
SECURITY_VULNERABILITIES.md
SECURITY.md
DEPLOYMENT.md
DEPLOYMENT_FIX.md
SEED_DATA_DOCUMENTATION.md
PAYMENT_MONTH_FEATURE.md
FILE_UPLOAD_DOCUMENTATION.md

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
